In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: tqdm in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (from nltk) (1.0.1)

In [56]:
import nltk

###### nltk is a huge libreary we don't need all the packeges so

In [4]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

### First Preprocessing Tech- 1.`Tokenization`.

In [5]:
from nltk.tokenize import sent_tokenize,word_tokenize

In [6]:
sent='biryani is very tasty'
word_tokenize(sent)

['biryani', 'is', 'very', 'tasty']

###### `word_tokenize` divide into tokens(words) with the help of space

In [7]:
sent.split() #another code

['biryani', 'is', 'very', 'tasty']

In [8]:
par='biryani is very tasty. biryani is not good. biryani is bad'
sent_tokenize(par)

['biryani is very tasty.', 'biryani is not good.', 'biryani is bad']

##### `sent_tokenize` it will split into sentences with the help of fullstop and a space

### 2.`Stopwords`.

##### A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore,

In [9]:
from nltk.corpus import stopwords

In [10]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
stopwords.words('french')

['au',
 'aux',
 'avec',
 'ce',
 'ces',
 'dans',
 'de',
 'des',
 'du',
 'elle',
 'en',
 'et',
 'eux',
 'il',
 'ils',
 'je',
 'la',
 'le',
 'les',
 'leur',
 'lui',
 'ma',
 'mais',
 'me',
 'même',
 'mes',
 'moi',
 'mon',
 'ne',
 'nos',
 'notre',
 'nous',
 'on',
 'ou',
 'par',
 'pas',
 'pour',
 'qu',
 'que',
 'qui',
 'sa',
 'se',
 'ses',
 'son',
 'sur',
 'ta',
 'te',
 'tes',
 'toi',
 'ton',
 'tu',
 'un',
 'une',
 'vos',
 'votre',
 'vous',
 'c',
 'd',
 'j',
 'l',
 'à',
 'm',
 'n',
 's',
 't',
 'y',
 'été',
 'étée',
 'étées',
 'étés',
 'étant',
 'étante',
 'étants',
 'étantes',
 'suis',
 'es',
 'est',
 'sommes',
 'êtes',
 'sont',
 'serai',
 'seras',
 'sera',
 'serons',
 'serez',
 'seront',
 'serais',
 'serait',
 'serions',
 'seriez',
 'seraient',
 'étais',
 'était',
 'étions',
 'étiez',
 'étaient',
 'fus',
 'fut',
 'fûmes',
 'fûtes',
 'furent',
 'sois',
 'soit',
 'soyons',
 'soyez',
 'soient',
 'fusse',
 'fusses',
 'fût',
 'fussions',
 'fussiez',
 'fussent',
 'ayant',
 'ayante',
 'ayantes',
 'ayants',
 'eu',
 'eue',
 'eues',
 'eus',
 'ai',
 'as',
 'avons',
 'avez',
 'ont',
 'aurai',
 'auras',
 'aura',
 'aurons',
 'aurez',
 'auront',
 'aurais',
 'aurait',
 'aurions',
 'auriez',
 'auraient',
 'avais',
 'avait',
 'avions',
 'aviez',
 'avaient',
 'eut',
 'eûmes',
 'eûtes',
 'eurent',
 'aie',
 'aies',
 'ait',
 'ayons',
 'ayez',
 'aient',
 'eusse',
 'eusses',
 'eût',
 'eussions',
 'eussiez',
 'eussent']

In [12]:
print(stopwords.words('chinese'))

['一', '一下', '一些', '一切', '一则', '一天', '一定', '一方面', '一旦', '一时', '一来', '一样', '一次', '一片', '一直', '一致', '一般', '一起', '一边', '一面', '万一', '上下', '上升', '上去', '上来', '上述', '上面', '下列', '下去', '下来', '下面', '不一', '不久', '不仅', '不会', '不但', '不光', '不单', '不变', '不只', '不可', '不同', '不够', '不如', '不得', '不怕', '不惟', '不成', '不拘', '不敢', '不断', '不是', '不比', '不然', '不特', '不独', '不管', '不能', '不要', '不论', '不足', '不过', '不问', '与', '与其', '与否', '与此同时', '专门', '且', '两者', '严格', '严重', '个', '个人', '个别', '中小', '中间', '丰富', '临', '为', '为主', '为了', '为什么', '为什麽', '为何', '为着', '主张', '主要', '举行', '乃', '乃至', '么', '之', '之一', '之前', '之后', '之後', '之所以', '之类', '乌乎', '乎', '乘', '也', '也好', '也是', '也罢', '了', '了解', '争取', '于', '于是', '于是乎', '云云', '互相', '产生', '人们', '人家', '什么', '什么样', '什麽', '今后', '今天', '今年', '今後', '仍然', '从', '从事', '从而', '他', '他人', '他们', '他的', '代替', '以', '以上', '以下', '以为', '以便', '以免', '以前', '以及', '以后', '以外', '以後', '以来', '以至', '以至于', '以致', '们', '任', '任何', '任凭', '任务', '企图', '伟大', '似乎', '似的', '但', '但是', '何', '何况', '何处', '何时', '作为', '你', '你们', '你的', '使得', '使用', '例如', '依', '依照', '依靠', '促进', '保持', '俺', '俺们', '倘', '倘使', '倘或', '倘然', '倘若', '假使', '假如', '假若', '做到', '像', '允许', '充分', '先后', '先後', '先生', '全部', '全面', '兮', '共同', '关于', '其', '其一', '其中', '其二', '其他', '其余', '其它', '其实', '其次', '具体', '具体地说', '具体说来', '具有', '再者', '再说', '冒', '冲', '决定', '况且', '准备', '几', '几乎', '几时', '凭', '凭借', '出去', '出来', '出现', '分别', '则', '别', '别的', '别说', '到', '前后', '前者', '前进', '前面', '加之', '加以', '加入', '加强', '十分', '即', '即令', '即使', '即便', '即或', '即若', '却不', '原来', '又', '及', '及其', '及时', '及至', '双方', '反之', '反应', '反映', '反过来', '反过来说', '取得', '受到', '变成', '另', '另一方面', '另外', '只是', '只有', '只要', '只限', '叫', '叫做', '召开', '叮咚', '可', '可以', '可是', '可能', '可见', '各', '各个', '各人', '各位', '各地', '各种', '各级', '各自', '合理', '同', '同一', '同时', '同样', '后来', '后面', '向', '向着', '吓', '吗', '否则', '吧', '吧哒', '吱', '呀', '呃', '呕', '呗', '呜', '呜呼', '呢', '周围', '呵', '呸', '呼哧', '咋', '和', '咚', '咦', '咱', '咱们', '咳', '哇', '哈', '哈哈', '哉', '哎', '哎呀', '哎哟', '哗', '哟', '哦', '哩', '哪', '哪个', '哪些', '哪儿', '哪天', '哪年', '哪怕', '哪样', '哪边', '哪里', '哼', '哼唷', '唉', '啊', '啐', '啥', '啦', '啪达', '喂', '喏', '喔唷', '嗡嗡', '嗬', '嗯', '嗳', '嘎', '嘎登', '嘘', '嘛', '嘻', '嘿', '因', '因为', '因此', '因而', '固然', '在', '在下', '地', '坚决', '坚持', '基本', '处理', '复杂', '多', '多少', '多数', '多次', '大力', '大多数', '大大', '大家', '大批', '大约', '大量', '失去', '她', '她们', '她的', '好的', '好象', '如', '如上所述', '如下', '如何', '如其', '如果', '如此', '如若', '存在', '宁', '宁可', '宁愿', '宁肯', '它', '它们', '它们的', '它的', '安全', '完全', '完成', '实现', '实际', '宣布', '容易', '密切', '对', '对于', '对应', '将', '少数', '尔后', '尚且', '尤其', '就', '就是', '就是说', '尽', '尽管', '属于', '岂但', '左右', '巨大', '巩固', '己', '已经', '帮助', '常常', '并', '并不', '并不是', '并且', '并没有', '广大', '广泛', '应当', '应用', '应该', '开外', '开始', '开展', '引起', '强烈', '强调', '归', '当', '当前', '当时', '当然', '当着', '形成', '彻底', '彼', '彼此', '往', '往往', '待', '後来', '後面', '得', '得出', '得到', '心里', '必然', '必要', '必须', '怎', '怎么', '怎么办', '怎么样', '怎样', '怎麽', '总之', '总是', '总的来看', '总的来说', '总的说来', '总结', '总而言之', '恰恰相反', '您', '意思', '愿意', '慢说', '成为', '我', '我们', '我的', '或', '或是', '或者', '战斗', '所', '所以', '所有', '所谓', '打', '扩大', '把', '抑或', '拿', '按', '按照', '换句话说', '换言之', '据', '掌握', '接着', '接著', '故', '故此', '整个', '方便', '方面', '旁人', '无宁', '无法', '无论', '既', '既是', '既然', '时候', '明显', '明确', '是', '是否', '是的', '显然', '显著', '普通', '普遍', '更加', '曾经', '替', '最后', '最大', '最好', '最後', '最近', '最高', '有', '有些', '有关', '有利', '有力', '有所', '有效', '有时', '有点', '有的', '有着', '有著', '望', '朝', '朝着', '本', '本着', '来', '来着', '极了', '构成', '果然', '果真', '某', '某个', '某些', '根据', '根本', '欢迎', '正在', '正如', '正常', '此', '此外', '此时', '此间', '毋宁', '每', '每个', '每天', '每年', '每当', '比', '比如', '比方', '比较', '毫不', '没有', '沿', '沿着', '注意', '深入', '清楚', '满足', '漫说', '焉', '然则', '然后', '然後', '然而', '照', '照着', '特别是', '特殊', '特点', '现代', '现在', '甚么', '甚而', '甚至', '用', '由', '由于', '由此可见', '的', '的话', '目前', '直到', '直接', '相似', '相信', '相反', '相同', '相对', '相对而言', '相应', '相当', '相等', '省得', '看出', '看到', '看来', '看看', '看见', '真是', '真正', '着', '着呢', '矣', '知道', '确定', '离', '积极', '移动', '突出', '突然', '立即', '第', '等', '等等', '管', '紧接着', '纵', '纵令', '纵使', '纵然', '练习', '组成', '经', '经常', '经过', '结合', '结果', '给', '绝对', '继续', '继而', '维持', '综上所述', '罢了', '考虑', '者', '而', '而且', '而况', '而外', '而已', '而是', '而言', '联系', '能', '能否', '能够', '腾', '自', '自个儿', '自从', '自各儿', '自家', '自己', '自身', '至', '至于', '良好', '若', '若是', '若非', '范围', '莫若', '获得', '虽', '虽则', '虽然', '虽说', '行为', '行动', '表明', '表示', '被', '要', '要不', '要不是', '要不然', '要么', '要是', '要求', '规定', '觉得', '认为', '认真', '认识', '让', '许多', '论', '设使', '设若', '该', '说明', '诸位', '谁', '谁知', '赶', '起', '起来', '起见', '趁', '趁着', '越是', '跟', '转动', '转变', '转贴', '较', '较之', '边', '达到', '迅速', '过', '过去', '过来', '运用', '还是', '还有', '这', '这个', '这么', '这么些', '这么样', '这么点儿', '这些', '这会儿', '这儿', '这就是说', '这时', '这样', '这点', '这种', '这边', '这里', '这麽', '进入', '进步', '进而', '进行', '连', '连同', '适应', '适当', '适用', '逐步', '逐渐', '通常', '通过', '造成', '遇到', '遭到', '避免', '那', '那个', '那么', '那么些', '那么样', '那些', '那会儿', '那儿', '那时', '那样', '那边', '那里', '那麽', '部分', '鄙人', '采取', '里面', '重大', '重新', '重要', '鉴于', '问题', '防止', '阿', '附近', '限制', '除', '除了', '除此之外', '除非', '随', '随着', '随著', '集中', '需要', '非但', '非常', '非徒', '靠', '顺', '顺着', '首先', '高兴', '是不是']

In [13]:
stp=stopwords.words('english')

##### we have to metion Language

### `3.Stemming`

In [14]:
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer

##### Using stemming we are converting the word into its root word

In [15]:
ps=PorterStemmer()
ps.stem('changing')

'chang'

In [16]:
ls=LancasterStemmer()
ls.stem('changing')

'chang'

In [17]:
ss=SnowballStemmer("english") #In SnowballStemmer we have to mention the language
ss.stem('changing')

'chang'

In [18]:
from nltk.stem import WordNetLemmatizer #we dont have seperate module called from nltk.Lammatization

In [19]:
wl=WordNetLemmatizer()
wl.lemmatize('changing') #first it check in the database (wordnet)

'changing'

##### it has pos-parts of speech

In [20]:
wl=WordNetLemmatizer()
wl.lemmatize('changing',pos='v') #defaults will be noun 'n'

'change'

## Let apply on a dataframe

In [21]:
reviews=['Biryani is very @tasty','biryani is not Good and biryani high cost','not good and bad.? taste of biryani']

In [22]:
import pandas as pd

In [23]:
data1=pd.DataFrame({'reviews':reviews})

In [24]:
data1

                                     reviews
0                     Biryani is very @tasty
1  biryani is not Good and biryani high cost
2        not good and bad.? taste of biryani

##### This dataset contains some Unnecessary charecters, Upper case words

In [25]:
for sent in data1:
    print(sent)

reviews

In [26]:
for sent in data1['reviews']:
    print(sent)

Biryani is very @tasty
biryani is not Good and biryani high cost
not good and bad.? taste of biryani

### `4.Lower Case`

In [27]:
for sent in data1['reviews']:
    ls=sent.lower() #lower case
    print(ls)

biryani is very @tasty
biryani is not good and biryani high cost
not good and bad.? taste of biryani

In [28]:
import re

### `5.Regex`

In [29]:
data1['reviews'][0]

'Biryani is very @tasty'

In [30]:
re.sub('[^a-zA-Z ]','',data1['reviews'][0]) # ^ means except ,all the char a-z,A-z and space include in [],remaining will be removed

'Biryani is very tasty'

##### Using regex we are removing some unncessary charecters

In [31]:
for sent in data1['reviews']:
    ls=sent.lower() #lower case
    ruc=re.sub('[^a-zA-Z ]','',ls) #regex, removings unnecessary char
    print(ruc)

biryani is very tasty
biryani is not good and biryani high cost
not good and bad taste of biryani

In [32]:
for sent in data1['reviews']:
    ls=sent.lower() #lower case
    ruc=re.sub('[^a-zA-Z ]','',ls) #regex, removings unnecessary char
    for word in word_tokenize(ruc): #sentence into words
        print(word)

biryani
is
very
tasty
biryani
is
not
good
and
biryani
high
cost
not
good
and
bad
taste
of
biryani

In [33]:
#removing stopwords

In [34]:
'is' in stp

True

In [35]:
for sent in data1['reviews']:
    l=[] # to append all words in l
    ls=sent.lower() #lower case
    ruc=re.sub('[^a-zA-Z ]','',ls) #regex, removings unnecessary char
    for word in word_tokenize(ruc): #sentence into words
        if word in stp:             #if the word in stp pass or then it stem.
            pass
        else:
            stems=PorterStemmer().stem(word) #saving the root word of a particular word
            l.append(stems)
    print(l)

['biryani', 'tasti']
['biryani', 'good', 'biryani', 'high', 'cost']
['good', 'bad', 'tast', 'biryani']

##### above `l` contains in the list and have to change in to str

In [36]:
['a','b','c']

['a', 'b', 'c']

In [37]:
" ".join(['a','b','c'])

'a b c'

In [38]:
lf=[]            #appending into LF using join
for sent in data1['reviews']:
    l=[] # to append all words in l
    ls=sent.lower() #lower case
    ruc=re.sub('[^a-zA-Z ]','',ls) #regex, removnigs unecessary char
    for word in word_tokenize(ruc): #sentece into words
        if word in stp:             #if the word in stp pass or then stem it
            pass
        else:
            stems=PorterStemmer().stem(word) #saving root words
            l.append(stems)
    lf.append(' '.join(l))
print(lf)

['biryani tasti', 'biryani good biryani high cost', 'good bad tast biryani']

In [39]:
data2=pd.DataFrame({'cleaned_review':lf})

In [40]:
data2

                   cleaned_review
0                   biryani tasti
1  biryani good biryani high cost
2           good bad tast biryani

##### Here we converted into `data2` - which is Pre-processed data

In [41]:
data1

                                     reviews
0                     Biryani is very @tasty
1  biryani is not Good and biryani high cost
2        not good and bad.? taste of biryani

##### `data1` which is before pre-processed data

In [42]:
#Butvif you see row2 in data2 compared to row2 in data1 here the entire meaning is change bcoz 'not' is deleted in data2,that means 'not' is presented in the stopwords so we have to delete 'not' in stp

In [43]:
'not' in stp

True

In [44]:
stp.remove('not')

In [45]:
'not' in stp

False

In [46]:
#finall code
lf=[]            #appending into LF using join
for sent in data1['reviews']:
    l=[] # to append all words in l
    ls=sent.lower() #lower case
    ruc=re.sub('[^a-zA-Z ]','',ls) #regex, removigs unecessery char
    for word in word_tokenize(ruc): #sentece into words
        if word in stp:             #if the word in stp pass or then stem it
            pass
        else:
            stems=PorterStemmer().stem(word) #saving root words
            l.append(stems)
    lf.append(' '.join(l))
print(lf)

['biryani tasti', 'biryani not good biryani high cost', 'not good bad tast biryani']

In [47]:
data2=pd.DataFrame({'cleaned_review':lf})

In [48]:
data2

                       cleaned_review
0                       biryani tasti
1  biryani not good biryani high cost
2           not good bad tast biryani

In [49]:
data1

                                     reviews
0                     Biryani is very @tasty
1  biryani is not Good and biryani high cost
2        not good and bad.? taste of biryani

##### Now here we converted Raw data into Pre-processed data

### How all the stemming are working

In [50]:
ow=[] #original_words
ps=[] #PorterStemmer
ls=[] #LancasterStemmer
ss=[] #SnowballStemmer
wl=[] #WordNetLemmatizer
for i in data1['reviews']:
    for word in word_tokenize(i):
        ow.append(word)
        ps.append(PorterStemmer().stem(word))
        ls.append(LancasterStemmer().stem(word))
        ss.append(SnowballStemmer('english').stem(word))
        wl.append(WordNetLemmatizer().lemmatize(word))

In [51]:
pd.DataFrame({'original_words':ow,'PorterStemmer':ps,'LancasterStemmer':ls,'SnowballStemmer':ss,'WordNetLemmatizer':wl})

,original_words,PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer
0,Biryani,biryani,biryan,biryani,Biryani
1,is,is,is,is,is
2,very,veri,very,veri,very
3,@,@,@,@,@
4,tasty,tasti,tasty,tasti,tasty
5,biryani,biryani,biryan,biryani,biryani
6,is,is,is,is,is
7,not,not,not,not,not
8,Good,good,good,good,Good
9,and,and,and,and,and
10,biryani,biryani,biryan,biryani,biryani
11,high,high,high,high,high
12,cost,cost,cost,cost,cost
13,not,not,not,not,not
14,good,good,good,good,good
15,and,and,and,and,and
16,bad.,bad.,bad.,bad.,bad.
17,?,?,?,?,?
18,taste,tast,tast,tast,taste
19,of,of,of,of,of
20,biryani,biryani,biryan,biryani,biryani

# Converting `Text to Vectors`

### sklearn

In [52]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (0.0.post1)

#### In sklearn we have `countvectorizer` which is exactly same as `BOW` - bag of words

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

### 1.Bag of Words

In [54]:
cv=CountVectorizer()

fit means train which the data is given and fit_trans means train and transform the data

In [59]:
cv.fit_transform() #here the data which is given inside the 'cv.fit_transform(**HERE**) should be list format or series dataframe(data['column']) not str/text

we are transforming text - vector without cleaning and all(text_prep)

In [60]:
cv.fit_transform(data1['reviews'])

<3x12 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

It will through into in sparse matrix, we have to convert it into numpy array

In [61]:
trans_data=cv.fit_transform(data1['reviews'])

In [62]:
type(trans_data)

scipy.sparse.csr.csr_matrix

In [63]:
trans_data.toarray()

array([[0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [1, 0, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0],
       [1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0]], dtype=int64)

In [64]:
 #here whenever we doing 'trans_data=cv.fit_transform(data1['reviews'])' here cv. learn all vacobulary automatically & save it in the vacobulary

In [65]:
cv.vocabulary_

{'biryani': 2,
 'is': 6,
 'very': 11,
 'tasty': 10,
 'not': 7,
 'good': 4,
 'and': 0,
 'high': 5,
 'cost': 3,
 'bad': 1,
 'taste': 9,
 'of': 8}

In [66]:
pd.DataFrame(trans_data.toarray(),columns=sorted(cv.vocabulary_.keys())) #see what happens if you do not sort the columns :)

   and  bad  biryani  cost  good  high  is  not  of  taste  tasty  very
0    0    0        1     0     0     0   1    0   0      0      1     1
1    1    0        2     1     1     1   1    1   0      0      0     0
2    1    1        1     0     1     0   0    1   1      1      0     0

In [87]:
trans_data.shape

(3, 12)

now we transform text into vectors on cleaned data set(data2) let see the dimentionality

In [69]:
data2

                       cleaned_review
0                       biryani tasti
1  biryani not good biryani high cost
2           not good bad tast biryani

In [70]:
cv=CountVectorizer()

In [71]:
dt=cv.fit_transform(data2['cleaned_review'])

In [72]:
dt.shape

(3, 8)

the dimentinality reduced from 12 to 8

In [73]:
cv.vocabulary_

{'biryani': 1,
 'tasti': 7,
 'not': 5,
 'good': 3,
 'high': 4,
 'cost': 2,
 'bad': 0,
 'tast': 6}

In [74]:
pd.DataFrame(dt.toarray(),columns=sorted(cv.vocabulary_.keys()))

   bad  biryani  cost  good  high  not  tast  tasti
0    0        1     0     0     0    0     0      1
1    0        2     1     1     1    1     0      0
2    1        1     0     1     0    1     1      0

### `2.Binary bag of words`

In [75]:
cv=CountVectorizer(binary=True)

In [76]:
dt=cv.fit_transform(data2['cleaned_review'])

In [77]:
dt.shape

(3, 8)

In [78]:
cv.vocabulary_

{'biryani': 1,
 'tasti': 7,
 'not': 5,
 'good': 3,
 'high': 4,
 'cost': 2,
 'bad': 0,
 'tast': 6}

In [79]:
pd.DataFrame(dt.toarray(),columns=sorted(cv.vocabulary_.keys()))

   bad  biryani  cost  good  high  not  tast  tasti
0    0        1     0     0     0    0     0      1
1    0        1     1     1     1    1     0      0
2    1        1     0     1     0    1     1      0

# `3.TF-IDF`

In [80]:
from sklearn.feature_extraction.text import TfidfVectorizer

for TF-IDF we have `TfidfVectorizer`

In [81]:
tf=TfidfVectorizer()

In [82]:
cond=tf.fit_transform(data2['cleaned_review'])

In [83]:
cond.shape

(3, 8)

In [84]:
cond.toarray()

array([[0.        , 0.50854232, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.861037  ],
       [0.        , 0.55364194, 0.46869865, 0.3564574 , 0.46869865,
        0.3564574 , 0.        , 0.        ],
       [0.53409337, 0.31544415, 0.        , 0.40619178, 0.        ,
        0.40619178, 0.53409337, 0.        ]])

In [85]:
pd.DataFrame(cond.toarray(),columns=sorted(tf.vocabulary_.keys()))

,bad,biryani,cost,good,high,not,tast,tasti
0,0.000000,0.508542,0.000000,0.000000,0.000000,0.000000,0.000000,0.861037
1,0.000000,0.553642,0.468699,0.356457,0.468699,0.356457,0.000000,0.000000
2,0.534093,0.315444,0.000000,0.406192,0.000000,0.406192,0.534093,0.000000

In [ ]:
------------------------------------------------------------THE END-------------------------------------------------------------

# Appying on a real dataset

In [88]:
data=pd.read_csv(r'C:\Users\kalali aravindgoud\Desktop\Dataset\bbc-text.csv')

In [89]:
data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

 xi are text and yi are category

In [90]:
data['text'].isnull().sum()

0

In [91]:
lf=[]
for sent in data['text']:
    l=[]
    ls=sent.lower()
    ruc=re.sub('[^a-zA-Z ]','',ls)
    for word in word_tokenize(ruc):
        if word in stp:            
            pass
        else:
            stems=PorterStemmer().stem(word)
            l.append(stems)
    lf.append(' '.join(l))

In [92]:
prep_data=pd.DataFrame({'cleaned_data':lf})
prep_data

                                           cleaned_data
0     tv futur hand viewer home theatr system plasma...
1     worldcom boss left book alon former worldcom b...
2     tiger wari farrel gambl leicest say not rush m...
3     yead face newcastl fa cup premiership side new...
4     ocean twelv raid box offic ocean twelv crime c...
...                                                 ...
2220  car pull us retail figur us retail sale fell j...
2221  kilroy unveil immigr polici exchatshow host ro...
2222  rem announc new glasgow concert us band rem an...
2223  polit squabbl snowbal becom commonplac argu bl...
2224  souness delight euro progress boss graem soune...

[2225 rows x 1 columns]

# BOW

In [93]:
cv=CountVectorizer()

In [94]:
conv_matrix=cv.fit_transform(prep_data['cleaned_data'])

In [95]:
conv_matrix

<2225x21398 sparse matrix of type '<class 'numpy.int64'>'
	with 317493 stored elements in Compressed Sparse Row format>

In [96]:
cv.vocabulary_

{'tv': 19579,
 'futur': 7263,
 'hand': 8141,
 'viewer': 20366,
 'home': 8698,
 'theatr': 18929,
 'system': 18591,
 'plasma': 14402,
 'highdefinit': 8529,
 'digit': 4948,
 'video': 20353,
 'record': 15461,
 'move': 12438,
 'live': 10917,
 'room': 16108,
 'way': 20636,
 'peopl': 14117,
 'watch': 20611,
 'radic': 15202,
 'differ': 4939,
 'five': 6751,
 'year': 21242,
 'time': 19115,
 'accord': 104,
 'expert': 6248,
 'panel': 13833,
 'gather': 7386,
 'annual': 747,
 'consum': 3912,
 'electron': 5715,
 'show': 17133,
 'la': 10407,
 'vega': 20247,
 'discuss': 5058,
 'new': 12843,
 'technolog': 18771,
 'impact': 9110,
 'one': 13382,
 'favourit': 6489,
 'pastim': 13963,
 'us': 20119,
 'lead': 10598,
 'trend': 19412,
 'programm': 14908,
 'content': 3929,
 'deliv': 4712,
 'via': 20315,
 'network': 12822,
 'cabl': 2709,
 'satellit': 16432,
 'telecom': 18797,
 'compani': 3738,
 'broadband': 2443,
 'servic': 16873,
 'provid': 14976,
 'front': 7172,
 'portabl': 14573,
 'devic': 4874,
 'talkedabout': 18643,
 'ce': 3051,
 'person': 14174,
 'dvr': 5501,
 'pvr': 15080,
 'settop': 16888,
 'box': 2272,
 'like': 10823,
 'tivo': 19161,
 'uk': 19682,
 'sky': 17375,
 'allow': 495,
 'store': 18140,
 'play': 14417,
 'paus': 14000,
 'forward': 7008,
 'wind': 20926,
 'want': 20556,
 'essenti': 6031,
 'much': 12482,
 'personalis': 14176,
 'also': 529,
 'builtin': 2569,
 'set': 16877,
 'big': 1882,
 'busi': 2650,
 'japan': 9723,
 'slower': 17451,
 'take': 18627,
 'europ': 6077,
 'lack': 10419,
 'program': 14907,
 'not': 13136,
 'advert': 233,
 'forget': 6975,
 'abid': 43,
 'channel': 3171,
 'schedul': 16523,
 'put': 15072,
 'togeth': 19181,
 'alacart': 382,
 'entertain': 5915,
 'worri': 21093,
 'mean': 11761,
 'term': 18859,
 'advertis': 234,
 'revenu': 15837,
 'well': 20720,
 'brand': 2316,
 'ident': 9000,
 'loyalti': 11117,
 'although': 536,
 'moment': 12282,
 'concern': 3795,
 'rais': 15245,
 'particularli': 13923,
 'grow': 7944,
 'uptak': 20100,
 'happen': 8181,
 'today': 19176,
 'see': 16727,
 'nine': 12954,
 'month': 12328,
 'adam': 161,
 'hume': 8885,
 'bbc': 1593,
 'broadcast': 2445,
 'futurologist': 7268,
 'told': 19192,
 'news': 12868,
 'websit': 20675,
 'issu': 9622,
 'lost': 11066,
 'yet': 21267,
 'press': 14787,
 'commerci': 3713,
 'import': 9132,
 'everyon': 6132,
 'talk': 18642,
 'rather': 15320,
 'said': 16318,
 'tim': 19112,
 'hanlon': 8166,
 'commun': 3728,
 'firm': 6715,
 'starcom': 17973,
 'mediavest': 11786,
 'realiti': 15377,
 'connect': 3858,
 'anybodi': 848,
 'produc': 14890,
 'ad': 158,
 'challeng': 3147,
 'hard': 8193,
 'promot': 14923,
 'choic': 3312,
 'stacey': 17910,
 'jolna': 9890,
 'senior': 16824,
 'vice': 20330,
 'presid': 14783,
 'guid': 7981,
 'group': 7941,
 'find': 6667,
 'simplifi': 17255,
 'could': 4086,
 'leaf': 10606,
 'googl': 7749,
 'book': 2179,
 'search': 16667,
 'engin': 5882,
 'instead': 9394,
 'help': 8425,
 'kind': 10215,
 'model': 12242,
 'might': 12020,
 'work': 21067,
 'younger': 21297,
 'ipod': 9533,
 'gener': 7446,
 'use': 20129,
 'control': 3959,
 'gadget': 7277,
 'suit': 18338,
 'recognis': 15450,
 'older': 13337,
 'comfort': 3699,
 'familiar': 6397,
 'know': 10284,
 'get': 7512,
 'perhap': 14147,
 'mr': 12465,
 'suggest': 18333,
 'end': 5847,
 'kid': 10185,
 'diaper': 4911,
 'push': 15070,
 'button': 2675,
 'alreadi': 526,
 'everyth': 6133,
 'possibl': 14596,
 'avail': 1239,
 'ultim': 19701,
 'tell': 18818,
 'market': 11502,
 'showcas': 17136,
 'mani': 11409,
 'enhanc': 5889,
 'tvwatch': 19587,
 'experi': 6245,
 'everywher': 6134,
 'lcd': 10592,
 'liquid': 10890,
 'crystal': 4308,
 'display': 5103,
 'launch': 10551,
 'capabl': 2839,
 'built': 2568,
 'extern': 6288,
 'exampl': 6158,
 'humax': 8881,
 'inch': 9184,
 'hour': 8808,
 'dvd': 5498,
 'biggest': 1886,
 'directtv': 5004,
 'even': 6110,
 'instant': 9388,
 'replay': 15717,
 'function': 7232,
 'rewind': 15861,
 'microsoft': 11974,
 'chief': 3276,
 'bill': 1901,
 'gate': 7382,
 'announc': 743,
 'preshow': 14782,
 'keynot': 10155,
 'speech': 17768,
 'partnership': 13931,
 'call': 2748,
 'tivotogo': 19162,
 'window': 20930,
 'pc': 14034,
 'mobil': 12230,
 'reflect': 15535,
 'increas': 9204,
 'free': 7112,
 'multimedia': 12525,
 'worldcom': 21088,
 'boss': 2226,
 'left': 10647,
 'alon': 517,
 'former': 6985,
 'berni': 1792,
 'ebber': 5577,
 'accus': 116,
 'overse': 13695,
 'bn': 2093,
 'fraud': 7098,
 'never': 12832,
 'made': 11257,
 'account': 107,
 'decis': 4624,
 'wit': 20978,
 'juror': 9991,
 'david': 4538,
 'myer': 12608,
 'comment': 3710,
 'question': 15132,
 'defenc': 4664,
 'lawyer': 10580,
 'argu': 964,
 'respons': 15777,
 'problem': 14871,
 'phone': 14271,
 'collaps': 3645,
 'prosecutor': 14951,
 'claim': 3417,
 'loss': 11063,
 'hidden': 8509,
 'protect': 14959,
 'share': 16984,
 'plead': 14435,
 'guilti': 7992,
 'assist': 1097,
 'monday': 12288,
 'reid': 15587,
 'weingarten': 20703,
 'tri': 19421,
 'distanc': 5125,
 'client': 3500,
 'alleg': 473,
 'cross': 4256,
 'examin': 6157,
 'ask': 1077,
 'ever': 6114,
 'knew': 10271,
 'make': 11329,
 'awar': 1262,
 'repli': 15718,
 'entri': 5932,
 'admit': 201,
 'order': 13505,
 'fals': 6389,
 'request': 15739,
 'financi': 6664,
 'offic': 13294,
 'scott': 16600,
 'sullivan': 18346,
 'paint': 13786,
 'testifi': 18881,
 'later': 10536,
 'trial': 19422,
 'mastermind': 11580,
 'behind': 1681,
 'hous': 8811,
 'card': 2869,
 'team': 18754,
 'meanwhil': 11768,
 'look': 11037,
 'portray': 14587,
 'affabl': 255,
 'admiss': 200,
 'pe': 14043,
 'graduat': 7804,
 'economist': 5600,
 'whatev': 20794,
 'abil': 45,
 'transform': 19367,
 'rel': 15615,
 'unknown': 19935,
 'giant': 7535,
 'investor': 9507,
 'darl': 4512,
 'late': 10533,
 'mount': 12427,
 'howev': 8826,
 'competit': 3749,
 'boom': 2191,
 'peter': 14205,
 'final': 6659,
 'sharehold': 16985,
 'worker': 21069,
 'job': 9850,
 'expect': 6240,
 'last': 10527,
 'two': 19615,
 'found': 7017,
 'ceo': 3102,
 'face': 6337,
 'substanti': 18292,
 'jail': 9681,
 'sentenc': 16834,
 'firmli': 6717,
 'declar': 4629,
 'innoc': 9351,
 'tiger': 19099,
 'wari': 20578,
 'farrel': 6446,
 'gambl': 7315,
 'leicest': 10675,
 'say': 16473,
 'rush': 16246,
 'bid': 1876,
 'andi': 679,
 'great': 7860,
 'britain': 2424,
 'rugbi': 16209,
 'leagu': 10609,
 'captain': 2857,
 'decid': 4620,
 'switch': 18544,
 'code': 3601,
 'els': 5758,
 'involv': 9514,
 'process': 14878,
 'still': 18093,
 'away': 1265,
 'go': 7675,
 'next': 12879,
 'stage': 17919,
 'john': 9867,
 'radio': 15205,
 'lot': 11068,
 'least': 10626,
 'medic': 11787,
 'situat': 17317,
 'whoever': 20847,
 'persist': 14173,
 'knee': 10269,
 'oper': 13465,
 'week': 20687,
 'ago': 310,
 'anoth': 755,
 'three': 19019,
 'saracen': 16415,
 'believ': 1706,
 'head': 8323,
 'list': 10899,
 'union': 19921,
 'club': 3542,
 'interest': 9431,
 'sign': 17209,
 'man': 11384,
 'game': 7317,
 'across': 140,
 'would': 21107,
 'better': 1833,
 'back': 1309,
 'initi': 9328,
 'sure': 18433,
 'step': 18052,
 'centr': 3090,
 'think': 18967,
 'england': 5883,
 'prefer': 14724,
 'progress': 14909,
 'posit': 14593,
 'row': 16165,
 'skill': 17360,
 'within': 20989,
 'juri': 9989,
 'whether': 20811,
 'divid': 5154,
 'balanc': 1395,
 'struck': 18226,
 'cost': 4062,
 'option': 13492,
 'bring': 2416,
 'readymad': 15366,
 'replac': 15716,
 'yead': 21239,
 'newcastl': 12848,
 'fa': 6329,
 'cup': 4349,
 'premiership': 14746,
 'side': 17180,
 'unit': 19927,
 'trip': 19447,
 'ryman': 16272,
 'premier': 14745,
 'leader': 10600,
 'third': 18974,
 'round': 16150,
 'arguabl': 965,
 'highlight': 8549,
 'draw': 5355,
 'potenti': 14631,
 'moneyspinn': 12296,
 'nonleagu': 13057,
 'beat': 1618,
 'slough': 17442,
 'second': 16692,
 'confer': 3819,
 'exet': 6201,
 'citi': 3396,
 'knock': 10278,
 'doncast': 5243,
 'saturday': 16443,
 'travel': 19387,
 'old': 13336,
 'trafford': 19347,
 'meet': 11802,
 'holder': 8675,
 'manchest': 11389,
 'januari': 9720,
 'arsen': 1016,
 'drawn': 5358,
 'stoke': 18121,
 'chelsea': 3239,
 'host': 8783,
 'scunthorp': 16641,
 'hinckley': 8586,
 'held': 8407,
 'brentford': 2370,
 'goalless': 7681,
 'sunday': 18360,
 'luton': 11182,
 'win': 20924,
 'martin': 11537,
 'allen': 476,
 'griffin': 7906,
 'park': 13892,
 'number': 13197,
 'difficult': 4941,
 'championship': 3154,
 'weekend': 20689,
 'thirdplac': 18981,
 'everton': 6129,
 'visit': 20424,
 'plymouth': 14466,
 'liverpool': 10925,
 'burnley': 2630,
 'palac': 13797,
 'sunderland': 18361,
 'fulham': 7209,
 'carl': 2895,
 'semifinalist': 16804,
 'watford': 20626,
 'bolton': 2148,
 'ipswich': 9539,
 'aston': 1108,
 'villa': 20380,
 'sheffield': 17022,
 'struggler': 18230,
 'norwich': 13131,
 'blackburn': 1976,
 'west': 20772,
 'brom': 2465,
 'ham': 8118,
 'cardiff': 2872,
 'preston': 14792,
 'north': 13115,
 'respect': 15773,
 'southampton': 17681,
 'northampton': 13116,
 'beaten': 1620,
 'earlier': 5529,
 'season': 16672,
 'middlesbrough': 11991,
 'either': 5689,
 'swindon': 18537,
 'nott': 13153,
 'counti': 4105,
 'spur': 17872,
 'brighton': 2408,
 'white': 20833,
 'hart': 8242,
 'lane': 10486,
 'swindonnott': 18538,
 'co': 3566,
 'utd': 20148,
 'blackpool': 1981,
 'derbi': 4801,
 'wigan': 20882,
 'wolv': 21026,
 'millwal': 12066,
 'hull': 8867,
 'colchest': 3633,
 'tottenham': 19287,
 'read': 15359,
 'stockportswansea': 18116,
 'birmingham': 1943,
 'leed': 10643,
 'hartlepool': 8244,
 'boston': 2228,
 'milton': 12070,
 'keyn': 10154,
 'don': 5239,
 'peterborough': 14206,
 'oldham': 13340,
 'charlton': 3202,
 'rochdal': 16040,
 'sheff': 17020,
 'rotherham': 16138,
 'yeovil': 21263,
 'bournemouth': 2259,
 'chester': 3263,
 'coventri': 4133,
 'crew': 4212,
 'portsmouth': 14588,
 'gillingham': 7568,
 'qpr': 15097,
 'nottm': 13156,
 'forest': 6967,
 'hinckleybrentford': 8587,
 'match': 11586,
 'ocean': 13260,
 'twelv': 19593,
 'raid': 15231,
 'crime': 4217,
 'caper': 2843,
 'sequel': 16842,
 'star': 17970,
 'georg': 7477,
 'clooney': 3528,
 'brad': 2295,
 'pitt': 14367,
 'julia': 9963,
 'robert': 16022,
 'gone': 7727,
 'straight': 18157,
 'chart': 3204,
 'took': 19219,
 'ticket': 19080,
 'sale': 16334,
 'studio': 18241,
 'estim': 6041,
 'follow': 6913,
 'master': 11577,
 'crimin': 4220,
 'pull': 15029,
 'major': 11324,
 'heist': 8405,
 'nation': 12701,
 'treasur': 19399,
 'place': 14382,
 'wesley': 20769,
 'snipe': 17534,
 'blade': 1984,
 'triniti': 19444,
 'top': 19230,
 'anim': 721,
 'fabl': 6333,
 'polar': 14505,
 'express': 6273,
 'tom': 19197,
 'hank': 8164,
 'festiv': 6581,
 'comedi': 3694,
 'christma': 3343,
 'krank': 10347,
 'triumph': 19453,
 'mark': 11499,
 'fourthbiggest': 7036,
 'open': 13454,
 'decemb': 4614,
 'releas': 15622,
 'film': 6651,
 'lord': 11054,
 'ring': 15961,
 'trilog': 19440,
 'narrowli': 12684,
 'predecessor': 14709,
 'eleven': 5727,
 'total': 19281,
 'remak': 15647,
 'frank': 7081,
 'sinatra': 17266,
 'rat': 15315,
 'pack': 13760,
 'direct': 4997,
 'oscarwin': 13546,
 'director': 5000,
 'steven': 18074,
 'soderbergh': 17574,
 'return': 15823,
 'hit': 8619,
 'reunit': 15827,
 'matt': 11614,
 'damon': 4473,
 'garcia': 7350,
 'elliott': 5750,
 'gould': 7779,
 'catherin': 3008,
 'zetajon': 21365,
 'join': 9874,
 'allstar': 503,
 'cast': 2975,
 'fun': 7231,
 'good': 7734,
 'holiday': 8679,
 'movi': 12441,
 'dan': 4475,
 'fellman': 6538,
 'distribut': 5136,
 'warner': 20588,
 'bro': 2441,
 'critic': 4237,
 'less': 10717,
 'complimentari': 3763,
 'project': 14914,
 'lo': 10951,
 'angel': 695,
 'label': 10411,
 'dispirit': 5101,
 'vaniti': 20209,
 'milder': 12041,
 'review': 15846,
 'york': 21288,
 'dub': 5431,
 'unabashedli': 19724,
 'trivial': 19455,
 'howard': 8821,
 'mongrel': 12301,
 'jibe': 9823,
 'michael': 11959,
 'hain': 8065,
 'tori': 19259,
 'act': 142,
 'attack': 1152,
 'labour': 10414,
 'rattl': 15327,
 'opposit': 13478,
 'upbeat': 20064,
 'parti': 13916,
 'spring': 17859,
 'campaign': 2787,
 'tactic': 18612,
 'prove': 14974,
 'antiterror': 828,
 'debat': 4589,
 'someth': 17624,
 'someon': 17621,
 'somewher': 17627,
 'littl': 10911,
 'bit': 1957,
 'common': 3724,
 'four': 7022,
 'stanc': 17947,
 'govern': 7782,
 'legisl': 10666,
 'countri': 4107,
 'risk': 15983,
 'behav': 1677,
 'sake': 16324,
 'anyth': 853,
 'cling': 3512,
 'far': 6420,
 'compar': 3740,
 'fagin': 6355,
 'shylock': 17164,
 'fli': 6835,
 'pig': 14322,
 'morn': 12369,
 'environ': 5939,
 'secretari': 16714,
 'margaret': 11474,
 'beckett': 1639,
 'reject': 15611,
 'pm': 14467,
 'real': 15372,
 'duti': 5493,
 'focu': 6895,
 'propos': 14946,
 'realli': 15379,
 'poor': 14545,
 'judgement': 9947,
 'behalf': 1676,
 'polici': 14512,
 'school': 16543,
 'tax': 18732,
 'immigr': 9103,
 'strike': 18203,
 'chord': 3323,
 'voter': 20483,
 'sinc': 17268,
 'begin': 1672,
 'elect': 5704,
 'polit': 14516,
 'weather': 20659,
 'deni': 4757,
 'case': 2959,
 'dixon': 5163,
 'whose': 20856,
 'cancel': 2804,
 'seven': 16893,
 'grab': 7794,
 'headlin': 8330,
 'human': 8871,
 'shield': 17052,
 'blair': 1986,
 'plan': 14392,
 'quota': 15172,
 'media': 11781,
 'coverag': 4135,
 'racist': 15194,
 'sens': 16826,
 'pledg': 14440,
 'cleaner': 3467,
 'hospit': 8781,
 'disciplin': 5028,
 'promis': 14921,
 'rid': 15917,
 'correct': 4035,
 'curriculum': 4366,
 'give': 7592,
 'chanc': 3156,
 'decent': 4616,
 'state': 17992,
 'educ': 5631,
 'come': 3691,
 'ordinari': 13507,
 'famili': 6396,
 'teenag': 18786,
 'appli': 893,
 'cambridg': 2771,
 'gordon': 7758,
 'brown': 2487,
 'love': 11083,
 'stress': 18192,
 'commit': 3719,
 'cut': 4384,
 'red': 15479,
 'tape': 18684,
 'basic': 1546,
 'pension': 14109,
 'line': 10863,
 'earn': 5534,
 'finish': 6679,
 'appeal': 882,
 'activist': 151,
 'day': 4547,
 'abl': 48,
 'children': 3289,
 'grandchildren': 7819,
 'mine': 12087,
 'part': 13914,
 'famou': 6401,
 'coordin': 3983,
 'alan': 386,
 'milburn': 12039,
 'confirm': 3827,
 'alway': 550,
 'strategi': 18172,
 'opportun': 13475,
 'vision': 20423,
 'refer': 15526,
 'appear': 883,
 'perfectli': 14142,
 'entitl': 5924,
 'pose': 14592,
 'damag': 4465,
 'public': 15013,
 'spend': 17783,
 'prepar': 14758,
 'name': 12641,
 'poll': 14523,
 'date': 4526,
 'toni': 19212,
 'may': 11642,
 'parliament': 13898,
 'easter': 5551,
 'break': 2344,
 'editor': 5620,
 'learn': 10622,
 'andrew': 686,
 'marr': 11522,
 'queen': 15126,
 'april': 910,
 'dissolv': 5123,
 'resist': 15765,
 'recent': 15427,
 'down': 5312,
 'street': 18185,
 'matter': 11616,
 'prime': 14834,
 'minist': 12112,
 'spokeswoman': 17827,
 'signal': 17210,
 'frantic': 7090,
 'westminst': 20780,
 'key': 10152,
 'need': 12760,
 'financ': 6663,
 'cover': 4134,
 'budget': 2549,
 'pass': 13947,
 'close': 3529,
 'session': 16876,
 'seek': 16730,
 'seriou': 16862,
 'organis': 13513,
 'id': 8991,
 'wednesday': 20683,
 'almost': 514,
 'nobodi': 12992,
 'level': 10735,
 'insid': 9374,
 'soon': 17642,
 'short': 17111,
 'recess': 15433,
 'whip': 20820,
 'offici': 13295,
 'june': 9976,
 'hold': 8674,
 'favour': 6488,
 'fouryear': 7047,
 'henman': 8441,
 'hope': 8742,
 'dubai': 5432,
 'seed': 16728,
 'slump': 17459,
 'defeat': 4661,
 'raininterrupt': 15243,
 'quarterfin': 15118,
 'ivan': 9640,
 'ljubic': 10936,
 'croatian': 4243,
 'eighth': 5671,
 'victori': 20349,
 'british': 2426,
 'cours': 4120,
 'halt': 8115,
 'rain': 15236,
 'interven': 9468,
 'seal': 16658,
 'fourth': 7035,
 'spanish': 17725,
 'fifth': 6623,
 'tommi': 19204,
 'robredo': 16033,
 'secur': 16721,
 'semifin': 16803,
 'nicola': 12912,
 'kiefer': 10190,
 'germani': 7498,
 'afterward': 283,
 'curs': 4368,
 'umpir': 19720,
 'incred': 9207,
 'frustrat': 7190,
 'kept': 10138,
 'till': 19110,
 'score': 16586,
 'irrelev': 9577,
 'happi': 8182,
 'form': 6981,
 'desert': 4822,
 'wilkinson': 20899,
 'fit': 6745,
 'edinburgh': 5615,
 'jonni': 9903,
 'longawait': 11008,
 'injuri': 9332,
 'injur': 9331,
 'bicep': 1872,
 'octob': 13265,
 'fullcontact': 7214,
 'train': 19354,
 'falcon': 6377,
 'yearold': 21249,
 'flyhalf': 6887,
 'start': 17985,
 'heineken': 8399,
 'murrayfield': 12566,
 'bench': 1732,
 'rob': 16015,
 'fine': 6669,
 'miss': 12177,
 'autumn': 1234,
 'intern': 9446,
 'aggrav': 297,
 'haematoma': 8056,
 'upper': 20084,
 'right': 15936,
 'arm': 983,
 'subsequ': 18284,
 'fullback': 7212,
 'jason': 9734,
 'robinson': 16028,
 'charli': 3199,
 'hodgson': 8658,
 'shirt': 17085,
 'canada': 2798,
 'south': 17679,
 'africa': 272,
 'australia': 1202,
 'disrupt': 5116,
 'muscl': 12568,
 'eight': 5669,
 'sidelin': 17188,
 'shoulder': 17130,
 'sustain': 18477,
 'world': 21086,
 'war': 20560,
 'sixth': 17329,
 'suitabl': 18339,
 'young': 21296,
 'filmmak': 6654,
 'luca': 11131,
 'minut': 12129,
 'reveng': 15836,
 'sith': 17314,
 'darkest': 4509,
 'violent': 20403,
 'seri': 16859,
 'sixyearold': 17341,
 'cb': 3037,
 'air': 349,
 'predict': 14712,
 'rate': 15317,
 'advis': 237,
 'parent': 13885,
 'scene': 16514,
 'unsuit': 20030,
 'under': 19792,
 'classifi': 3452,
 'pg': 14235,
 'roughli': 16147,
 'equival': 5977,
 'previou': 14813,
 'carri': 2926,
 'restrict': 15789,
 'guidanc': 7982,
 'except': 6173,
 'clone': 3527,
 'got': 7771,
 'prequel': 14766,
 'origin': 13517,
 'chronicl': 3349,
 'heroic': 8472,
 'anakin': 647,
 'skywalk': 17380,
 'evil': 6140,
 'darth': 4519,
 'vader': 20169,
 'helllik': 8419,
 'planet': 14395,
 'compos': 3765,
 'erupt': 6013,
 ...}

In [97]:
pd.DataFrame(conv_matrix.toarray(),columns=sorted(cv.vocabulary_))

,aa,aaa,aac,aadc,aaliyah,aaltra,aamir,aan,aara,aarhu,...,zoom,zooropa,zornotza,zorro,zubair,zuluaga,zurich,zuton,zvonareva,zvyagintsev
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2221,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2223,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
print(conv_matrix) #in sparse matrix the zeros values are not going to store in the sparse matrix, it will only store the value which is not zero at particular row,particular column

  (0, 19579)	14
  (0, 7263)	2
  (0, 8141)	2
  (0, 20366)	4
  (0, 8698)	2
  (0, 18929)	1
  (0, 18591)	2
  (0, 14402)	1
  (0, 8529)	4
  (0, 4948)	2
  (0, 20353)	2
  (0, 15461)	6
  (0, 12438)	1
  (0, 10917)	1
  (0, 16108)	2
  (0, 20636)	2
  (0, 14117)	7
  (0, 20611)	4
  (0, 15202)	1
  (0, 4939)	1
  (0, 6751)	1
  (0, 21242)	2
  (0, 19115)	2
  (0, 104)	1
  (0, 6248)	1
  :	:
  (2224, 13779)	1
  (2224, 14648)	1
  (2224, 5528)	2
  (2224, 14436)	1
  (2224, 20859)	1
  (2224, 1404)	1
  (2224, 13754)	1
  (2224, 7393)	1
  (2224, 15809)	1
  (2224, 4486)	1
  (2224, 10655)	1
  (2224, 19673)	2
  (2224, 229)	1
  (2224, 19427)	1
  (2224, 7679)	1
  (2224, 12079)	1
  (2224, 9659)	1
  (2224, 11297)	1
  (2224, 17673)	4
  (2224, 17012)	2
  (2224, 855)	1
  (2224, 298)	1
  (2224, 7805)	1
  (2224, 10560)	1
  (2224, 8389)	1

In [99]:
from sys import getsizeof

In [100]:
getsizeof(conv_matrix)

48

In [101]:
getsizeof(conv_matrix.toarray())

380884520

# Tf-Idf

In [102]:
tf=TfidfVectorizer()

In [103]:
conv_matrix=tf.fit_transform(prep_data['cleaned_data'])

In [104]:
conv_matrix

<2225x21398 sparse matrix of type '<class 'numpy.float64'>'
	with 317493 stored elements in Compressed Sparse Row format>

In [105]:
tf.vocabulary_

{'tv': 19579,
 'futur': 7263,
 'hand': 8141,
 'viewer': 20366,
 'home': 8698,
 'theatr': 18929,
 'system': 18591,
 'plasma': 14402,
 'highdefinit': 8529,
 'digit': 4948,
 'video': 20353,
 'record': 15461,
 'move': 12438,
 'live': 10917,
 'room': 16108,
 'way': 20636,
 'peopl': 14117,
 'watch': 20611,
 'radic': 15202,
 'differ': 4939,
 'five': 6751,
 'year': 21242,
 'time': 19115,
 'accord': 104,
 'expert': 6248,
 'panel': 13833,
 'gather': 7386,
 'annual': 747,
 'consum': 3912,
 'electron': 5715,
 'show': 17133,
 'la': 10407,
 'vega': 20247,
 'discuss': 5058,
 'new': 12843,
 'technolog': 18771,
 'impact': 9110,
 'one': 13382,
 'favourit': 6489,
 'pastim': 13963,
 'us': 20119,
 'lead': 10598,
 'trend': 19412,
 'programm': 14908,
 'content': 3929,
 'deliv': 4712,
 'via': 20315,
 'network': 12822,
 'cabl': 2709,
 'satellit': 16432,
 'telecom': 18797,
 'compani': 3738,
 'broadband': 2443,
 'servic': 16873,
 'provid': 14976,
 'front': 7172,
 'portabl': 14573,
 'devic': 4874,
 'talkedabout': 18643,
 'ce': 3051,
 'person': 14174,
 'dvr': 5501,
 'pvr': 15080,
 'settop': 16888,
 'box': 2272,
 'like': 10823,
 'tivo': 19161,
 'uk': 19682,
 'sky': 17375,
 'allow': 495,
 'store': 18140,
 'play': 14417,
 'paus': 14000,
 'forward': 7008,
 'wind': 20926,
 'want': 20556,
 'essenti': 6031,
 'much': 12482,
 'personalis': 14176,
 'also': 529,
 'builtin': 2569,
 'set': 16877,
 'big': 1882,
 'busi': 2650,
 'japan': 9723,
 'slower': 17451,
 'take': 18627,
 'europ': 6077,
 'lack': 10419,
 'program': 14907,
 'not': 13136,
 'advert': 233,
 'forget': 6975,
 'abid': 43,
 'channel': 3171,
 'schedul': 16523,
 'put': 15072,
 'togeth': 19181,
 'alacart': 382,
 'entertain': 5915,
 'worri': 21093,
 'mean': 11761,
 'term': 18859,
 'advertis': 234,
 'revenu': 15837,
 'well': 20720,
 'brand': 2316,
 'ident': 9000,
 'loyalti': 11117,
 'although': 536,
 'moment': 12282,
 'concern': 3795,
 'rais': 15245,
 'particularli': 13923,
 'grow': 7944,
 'uptak': 20100,
 'happen': 8181,
 'today': 19176,
 'see': 16727,
 'nine': 12954,
 'month': 12328,
 'adam': 161,
 'hume': 8885,
 'bbc': 1593,
 'broadcast': 2445,
 'futurologist': 7268,
 'told': 19192,
 'news': 12868,
 'websit': 20675,
 'issu': 9622,
 'lost': 11066,
 'yet': 21267,
 'press': 14787,
 'commerci': 3713,
 'import': 9132,
 'everyon': 6132,
 'talk': 18642,
 'rather': 15320,
 'said': 16318,
 'tim': 19112,
 'hanlon': 8166,
 'commun': 3728,
 'firm': 6715,
 'starcom': 17973,
 'mediavest': 11786,
 'realiti': 15377,
 'connect': 3858,
 'anybodi': 848,
 'produc': 14890,
 'ad': 158,
 'challeng': 3147,
 'hard': 8193,
 'promot': 14923,
 'choic': 3312,
 'stacey': 17910,
 'jolna': 9890,
 'senior': 16824,
 'vice': 20330,
 'presid': 14783,
 'guid': 7981,
 'group': 7941,
 'find': 6667,
 'simplifi': 17255,
 'could': 4086,
 'leaf': 10606,
 'googl': 7749,
 'book': 2179,
 'search': 16667,
 'engin': 5882,
 'instead': 9394,
 'help': 8425,
 'kind': 10215,
 'model': 12242,
 'might': 12020,
 'work': 21067,
 'younger': 21297,
 'ipod': 9533,
 'gener': 7446,
 'use': 20129,
 'control': 3959,
 'gadget': 7277,
 'suit': 18338,
 'recognis': 15450,
 'older': 13337,
 'comfort': 3699,
 'familiar': 6397,
 'know': 10284,
 'get': 7512,
 'perhap': 14147,
 'mr': 12465,
 'suggest': 18333,
 'end': 5847,
 'kid': 10185,
 'diaper': 4911,
 'push': 15070,
 'button': 2675,
 'alreadi': 526,
 'everyth': 6133,
 'possibl': 14596,
 'avail': 1239,
 'ultim': 19701,
 'tell': 18818,
 'market': 11502,
 'showcas': 17136,
 'mani': 11409,
 'enhanc': 5889,
 'tvwatch': 19587,
 'experi': 6245,
 'everywher': 6134,
 'lcd': 10592,
 'liquid': 10890,
 'crystal': 4308,
 'display': 5103,
 'launch': 10551,
 'capabl': 2839,
 'built': 2568,
 'extern': 6288,
 'exampl': 6158,
 'humax': 8881,
 'inch': 9184,
 'hour': 8808,
 'dvd': 5498,
 'biggest': 1886,
 'directtv': 5004,
 'even': 6110,
 'instant': 9388,
 'replay': 15717,
 'function': 7232,
 'rewind': 15861,
 'microsoft': 11974,
 'chief': 3276,
 'bill': 1901,
 'gate': 7382,
 'announc': 743,
 'preshow': 14782,
 'keynot': 10155,
 'speech': 17768,
 'partnership': 13931,
 'call': 2748,
 'tivotogo': 19162,
 'window': 20930,
 'pc': 14034,
 'mobil': 12230,
 'reflect': 15535,
 'increas': 9204,
 'free': 7112,
 'multimedia': 12525,
 'worldcom': 21088,
 'boss': 2226,
 'left': 10647,
 'alon': 517,
 'former': 6985,
 'berni': 1792,
 'ebber': 5577,
 'accus': 116,
 'overse': 13695,
 'bn': 2093,
 'fraud': 7098,
 'never': 12832,
 'made': 11257,
 'account': 107,
 'decis': 4624,
 'wit': 20978,
 'juror': 9991,
 'david': 4538,
 'myer': 12608,
 'comment': 3710,
 'question': 15132,
 'defenc': 4664,
 'lawyer': 10580,
 'argu': 964,
 'respons': 15777,
 'problem': 14871,
 'phone': 14271,
 'collaps': 3645,
 'prosecutor': 14951,
 'claim': 3417,
 'loss': 11063,
 'hidden': 8509,
 'protect': 14959,
 'share': 16984,
 'plead': 14435,
 'guilti': 7992,
 'assist': 1097,
 'monday': 12288,
 'reid': 15587,
 'weingarten': 20703,
 'tri': 19421,
 'distanc': 5125,
 'client': 3500,
 'alleg': 473,
 'cross': 4256,
 'examin': 6157,
 'ask': 1077,
 'ever': 6114,
 'knew': 10271,
 'make': 11329,
 'awar': 1262,
 'repli': 15718,
 'entri': 5932,
 'admit': 201,
 'order': 13505,
 'fals': 6389,
 'request': 15739,
 'financi': 6664,
 'offic': 13294,
 'scott': 16600,
 'sullivan': 18346,
 'paint': 13786,
 'testifi': 18881,
 'later': 10536,
 'trial': 19422,
 'mastermind': 11580,
 'behind': 1681,
 'hous': 8811,
 'card': 2869,
 'team': 18754,
 'meanwhil': 11768,
 'look': 11037,
 'portray': 14587,
 'affabl': 255,
 'admiss': 200,
 'pe': 14043,
 'graduat': 7804,
 'economist': 5600,
 'whatev': 20794,
 'abil': 45,
 'transform': 19367,
 'rel': 15615,
 'unknown': 19935,
 'giant': 7535,
 'investor': 9507,
 'darl': 4512,
 'late': 10533,
 'mount': 12427,
 'howev': 8826,
 'competit': 3749,
 'boom': 2191,
 'peter': 14205,
 'final': 6659,
 'sharehold': 16985,
 'worker': 21069,
 'job': 9850,
 'expect': 6240,
 'last': 10527,
 'two': 19615,
 'found': 7017,
 'ceo': 3102,
 'face': 6337,
 'substanti': 18292,
 'jail': 9681,
 'sentenc': 16834,
 'firmli': 6717,
 'declar': 4629,
 'innoc': 9351,
 'tiger': 19099,
 'wari': 20578,
 'farrel': 6446,
 'gambl': 7315,
 'leicest': 10675,
 'say': 16473,
 'rush': 16246,
 'bid': 1876,
 'andi': 679,
 'great': 7860,
 'britain': 2424,
 'rugbi': 16209,
 'leagu': 10609,
 'captain': 2857,
 'decid': 4620,
 'switch': 18544,
 'code': 3601,
 'els': 5758,
 'involv': 9514,
 'process': 14878,
 'still': 18093,
 'away': 1265,
 'go': 7675,
 'next': 12879,
 'stage': 17919,
 'john': 9867,
 'radio': 15205,
 'lot': 11068,
 'least': 10626,
 'medic': 11787,
 'situat': 17317,
 'whoever': 20847,
 'persist': 14173,
 'knee': 10269,
 'oper': 13465,
 'week': 20687,
 'ago': 310,
 'anoth': 755,
 'three': 19019,
 'saracen': 16415,
 'believ': 1706,
 'head': 8323,
 'list': 10899,
 'union': 19921,
 'club': 3542,
 'interest': 9431,
 'sign': 17209,
 'man': 11384,
 'game': 7317,
 'across': 140,
 'would': 21107,
 'better': 1833,
 'back': 1309,
 'initi': 9328,
 'sure': 18433,
 'step': 18052,
 'centr': 3090,
 'think': 18967,
 'england': 5883,
 'prefer': 14724,
 'progress': 14909,
 'posit': 14593,
 'row': 16165,
 'skill': 17360,
 'within': 20989,
 'juri': 9989,
 'whether': 20811,
 'divid': 5154,
 'balanc': 1395,
 'struck': 18226,
 'cost': 4062,
 'option': 13492,
 'bring': 2416,
 'readymad': 15366,
 'replac': 15716,
 'yead': 21239,
 'newcastl': 12848,
 'fa': 6329,
 'cup': 4349,
 'premiership': 14746,
 'side': 17180,
 'unit': 19927,
 'trip': 19447,
 'ryman': 16272,
 'premier': 14745,
 'leader': 10600,
 'third': 18974,
 'round': 16150,
 'arguabl': 965,
 'highlight': 8549,
 'draw': 5355,
 'potenti': 14631,
 'moneyspinn': 12296,
 'nonleagu': 13057,
 'beat': 1618,
 'slough': 17442,
 'second': 16692,
 'confer': 3819,
 'exet': 6201,
 'citi': 3396,
 'knock': 10278,
 'doncast': 5243,
 'saturday': 16443,
 'travel': 19387,
 'old': 13336,
 'trafford': 19347,
 'meet': 11802,
 'holder': 8675,
 'manchest': 11389,
 'januari': 9720,
 'arsen': 1016,
 'drawn': 5358,
 'stoke': 18121,
 'chelsea': 3239,
 'host': 8783,
 'scunthorp': 16641,
 'hinckley': 8586,
 'held': 8407,
 'brentford': 2370,
 'goalless': 7681,
 'sunday': 18360,
 'luton': 11182,
 'win': 20924,
 'martin': 11537,
 'allen': 476,
 'griffin': 7906,
 'park': 13892,
 'number': 13197,
 'difficult': 4941,
 'championship': 3154,
 'weekend': 20689,
 'thirdplac': 18981,
 'everton': 6129,
 'visit': 20424,
 'plymouth': 14466,
 'liverpool': 10925,
 'burnley': 2630,
 'palac': 13797,
 'sunderland': 18361,
 'fulham': 7209,
 'carl': 2895,
 'semifinalist': 16804,
 'watford': 20626,
 'bolton': 2148,
 'ipswich': 9539,
 'aston': 1108,
 'villa': 20380,
 'sheffield': 17022,
 'struggler': 18230,
 'norwich': 13131,
 'blackburn': 1976,
 'west': 20772,
 'brom': 2465,
 'ham': 8118,
 'cardiff': 2872,
 'preston': 14792,
 'north': 13115,
 'respect': 15773,
 'southampton': 17681,
 'northampton': 13116,
 'beaten': 1620,
 'earlier': 5529,
 'season': 16672,
 'middlesbrough': 11991,
 'either': 5689,
 'swindon': 18537,
 'nott': 13153,
 'counti': 4105,
 'spur': 17872,
 'brighton': 2408,
 'white': 20833,
 'hart': 8242,
 'lane': 10486,
 'swindonnott': 18538,
 'co': 3566,
 'utd': 20148,
 'blackpool': 1981,
 'derbi': 4801,
 'wigan': 20882,
 'wolv': 21026,
 'millwal': 12066,
 'hull': 8867,
 'colchest': 3633,
 'tottenham': 19287,
 'read': 15359,
 'stockportswansea': 18116,
 'birmingham': 1943,
 'leed': 10643,
 'hartlepool': 8244,
 'boston': 2228,
 'milton': 12070,
 'keyn': 10154,
 'don': 5239,
 'peterborough': 14206,
 'oldham': 13340,
 'charlton': 3202,
 'rochdal': 16040,
 'sheff': 17020,
 'rotherham': 16138,
 'yeovil': 21263,
 'bournemouth': 2259,
 'chester': 3263,
 'coventri': 4133,
 'crew': 4212,
 'portsmouth': 14588,
 'gillingham': 7568,
 'qpr': 15097,
 'nottm': 13156,
 'forest': 6967,
 'hinckleybrentford': 8587,
 'match': 11586,
 'ocean': 13260,
 'twelv': 19593,
 'raid': 15231,
 'crime': 4217,
 'caper': 2843,
 'sequel': 16842,
 'star': 17970,
 'georg': 7477,
 'clooney': 3528,
 'brad': 2295,
 'pitt': 14367,
 'julia': 9963,
 'robert': 16022,
 'gone': 7727,
 'straight': 18157,
 'chart': 3204,
 'took': 19219,
 'ticket': 19080,
 'sale': 16334,
 'studio': 18241,
 'estim': 6041,
 'follow': 6913,
 'master': 11577,
 'crimin': 4220,
 'pull': 15029,
 'major': 11324,
 'heist': 8405,
 'nation': 12701,
 'treasur': 19399,
 'place': 14382,
 'wesley': 20769,
 'snipe': 17534,
 'blade': 1984,
 'triniti': 19444,
 'top': 19230,
 'anim': 721,
 'fabl': 6333,
 'polar': 14505,
 'express': 6273,
 'tom': 19197,
 'hank': 8164,
 'festiv': 6581,
 'comedi': 3694,
 'christma': 3343,
 'krank': 10347,
 'triumph': 19453,
 'mark': 11499,
 'fourthbiggest': 7036,
 'open': 13454,
 'decemb': 4614,
 'releas': 15622,
 'film': 6651,
 'lord': 11054,
 'ring': 15961,
 'trilog': 19440,
 'narrowli': 12684,
 'predecessor': 14709,
 'eleven': 5727,
 'total': 19281,
 'remak': 15647,
 'frank': 7081,
 'sinatra': 17266,
 'rat': 15315,
 'pack': 13760,
 'direct': 4997,
 'oscarwin': 13546,
 'director': 5000,
 'steven': 18074,
 'soderbergh': 17574,
 'return': 15823,
 'hit': 8619,
 'reunit': 15827,
 'matt': 11614,
 'damon': 4473,
 'garcia': 7350,
 'elliott': 5750,
 'gould': 7779,
 'catherin': 3008,
 'zetajon': 21365,
 'join': 9874,
 'allstar': 503,
 'cast': 2975,
 'fun': 7231,
 'good': 7734,
 'holiday': 8679,
 'movi': 12441,
 'dan': 4475,
 'fellman': 6538,
 'distribut': 5136,
 'warner': 20588,
 'bro': 2441,
 'critic': 4237,
 'less': 10717,
 'complimentari': 3763,
 'project': 14914,
 'lo': 10951,
 'angel': 695,
 'label': 10411,
 'dispirit': 5101,
 'vaniti': 20209,
 'milder': 12041,
 'review': 15846,
 'york': 21288,
 'dub': 5431,
 'unabashedli': 19724,
 'trivial': 19455,
 'howard': 8821,
 'mongrel': 12301,
 'jibe': 9823,
 'michael': 11959,
 'hain': 8065,
 'tori': 19259,
 'act': 142,
 'attack': 1152,
 'labour': 10414,
 'rattl': 15327,
 'opposit': 13478,
 'upbeat': 20064,
 'parti': 13916,
 'spring': 17859,
 'campaign': 2787,
 'tactic': 18612,
 'prove': 14974,
 'antiterror': 828,
 'debat': 4589,
 'someth': 17624,
 'someon': 17621,
 'somewher': 17627,
 'littl': 10911,
 'bit': 1957,
 'common': 3724,
 'four': 7022,
 'stanc': 17947,
 'govern': 7782,
 'legisl': 10666,
 'countri': 4107,
 'risk': 15983,
 'behav': 1677,
 'sake': 16324,
 'anyth': 853,
 'cling': 3512,
 'far': 6420,
 'compar': 3740,
 'fagin': 6355,
 'shylock': 17164,
 'fli': 6835,
 'pig': 14322,
 'morn': 12369,
 'environ': 5939,
 'secretari': 16714,
 'margaret': 11474,
 'beckett': 1639,
 'reject': 15611,
 'pm': 14467,
 'real': 15372,
 'duti': 5493,
 'focu': 6895,
 'propos': 14946,
 'realli': 15379,
 'poor': 14545,
 'judgement': 9947,
 'behalf': 1676,
 'polici': 14512,
 'school': 16543,
 'tax': 18732,
 'immigr': 9103,
 'strike': 18203,
 'chord': 3323,
 'voter': 20483,
 'sinc': 17268,
 'begin': 1672,
 'elect': 5704,
 'polit': 14516,
 'weather': 20659,
 'deni': 4757,
 'case': 2959,
 'dixon': 5163,
 'whose': 20856,
 'cancel': 2804,
 'seven': 16893,
 'grab': 7794,
 'headlin': 8330,
 'human': 8871,
 'shield': 17052,
 'blair': 1986,
 'plan': 14392,
 'quota': 15172,
 'media': 11781,
 'coverag': 4135,
 'racist': 15194,
 'sens': 16826,
 'pledg': 14440,
 'cleaner': 3467,
 'hospit': 8781,
 'disciplin': 5028,
 'promis': 14921,
 'rid': 15917,
 'correct': 4035,
 'curriculum': 4366,
 'give': 7592,
 'chanc': 3156,
 'decent': 4616,
 'state': 17992,
 'educ': 5631,
 'come': 3691,
 'ordinari': 13507,
 'famili': 6396,
 'teenag': 18786,
 'appli': 893,
 'cambridg': 2771,
 'gordon': 7758,
 'brown': 2487,
 'love': 11083,
 'stress': 18192,
 'commit': 3719,
 'cut': 4384,
 'red': 15479,
 'tape': 18684,
 'basic': 1546,
 'pension': 14109,
 'line': 10863,
 'earn': 5534,
 'finish': 6679,
 'appeal': 882,
 'activist': 151,
 'day': 4547,
 'abl': 48,
 'children': 3289,
 'grandchildren': 7819,
 'mine': 12087,
 'part': 13914,
 'famou': 6401,
 'coordin': 3983,
 'alan': 386,
 'milburn': 12039,
 'confirm': 3827,
 'alway': 550,
 'strategi': 18172,
 'opportun': 13475,
 'vision': 20423,
 'refer': 15526,
 'appear': 883,
 'perfectli': 14142,
 'entitl': 5924,
 'pose': 14592,
 'damag': 4465,
 'public': 15013,
 'spend': 17783,
 'prepar': 14758,
 'name': 12641,
 'poll': 14523,
 'date': 4526,
 'toni': 19212,
 'may': 11642,
 'parliament': 13898,
 'easter': 5551,
 'break': 2344,
 'editor': 5620,
 'learn': 10622,
 'andrew': 686,
 'marr': 11522,
 'queen': 15126,
 'april': 910,
 'dissolv': 5123,
 'resist': 15765,
 'recent': 15427,
 'down': 5312,
 'street': 18185,
 'matter': 11616,
 'prime': 14834,
 'minist': 12112,
 'spokeswoman': 17827,
 'signal': 17210,
 'frantic': 7090,
 'westminst': 20780,
 'key': 10152,
 'need': 12760,
 'financ': 6663,
 'cover': 4134,
 'budget': 2549,
 'pass': 13947,
 'close': 3529,
 'session': 16876,
 'seek': 16730,
 'seriou': 16862,
 'organis': 13513,
 'id': 8991,
 'wednesday': 20683,
 'almost': 514,
 'nobodi': 12992,
 'level': 10735,
 'insid': 9374,
 'soon': 17642,
 'short': 17111,
 'recess': 15433,
 'whip': 20820,
 'offici': 13295,
 'june': 9976,
 'hold': 8674,
 'favour': 6488,
 'fouryear': 7047,
 'henman': 8441,
 'hope': 8742,
 'dubai': 5432,
 'seed': 16728,
 'slump': 17459,
 'defeat': 4661,
 'raininterrupt': 15243,
 'quarterfin': 15118,
 'ivan': 9640,
 'ljubic': 10936,
 'croatian': 4243,
 'eighth': 5671,
 'victori': 20349,
 'british': 2426,
 'cours': 4120,
 'halt': 8115,
 'rain': 15236,
 'interven': 9468,
 'seal': 16658,
 'fourth': 7035,
 'spanish': 17725,
 'fifth': 6623,
 'tommi': 19204,
 'robredo': 16033,
 'secur': 16721,
 'semifin': 16803,
 'nicola': 12912,
 'kiefer': 10190,
 'germani': 7498,
 'afterward': 283,
 'curs': 4368,
 'umpir': 19720,
 'incred': 9207,
 'frustrat': 7190,
 'kept': 10138,
 'till': 19110,
 'score': 16586,
 'irrelev': 9577,
 'happi': 8182,
 'form': 6981,
 'desert': 4822,
 'wilkinson': 20899,
 'fit': 6745,
 'edinburgh': 5615,
 'jonni': 9903,
 'longawait': 11008,
 'injuri': 9332,
 'injur': 9331,
 'bicep': 1872,
 'octob': 13265,
 'fullcontact': 7214,
 'train': 19354,
 'falcon': 6377,
 'yearold': 21249,
 'flyhalf': 6887,
 'start': 17985,
 'heineken': 8399,
 'murrayfield': 12566,
 'bench': 1732,
 'rob': 16015,
 'fine': 6669,
 'miss': 12177,
 'autumn': 1234,
 'intern': 9446,
 'aggrav': 297,
 'haematoma': 8056,
 'upper': 20084,
 'right': 15936,
 'arm': 983,
 'subsequ': 18284,
 'fullback': 7212,
 'jason': 9734,
 'robinson': 16028,
 'charli': 3199,
 'hodgson': 8658,
 'shirt': 17085,
 'canada': 2798,
 'south': 17679,
 'africa': 272,
 'australia': 1202,
 'disrupt': 5116,
 'muscl': 12568,
 'eight': 5669,
 'sidelin': 17188,
 'shoulder': 17130,
 'sustain': 18477,
 'world': 21086,
 'war': 20560,
 'sixth': 17329,
 'suitabl': 18339,
 'young': 21296,
 'filmmak': 6654,
 'luca': 11131,
 'minut': 12129,
 'reveng': 15836,
 'sith': 17314,
 'darkest': 4509,
 'violent': 20403,
 'seri': 16859,
 'sixyearold': 17341,
 'cb': 3037,
 'air': 349,
 'predict': 14712,
 'rate': 15317,
 'advis': 237,
 'parent': 13885,
 'scene': 16514,
 'unsuit': 20030,
 'under': 19792,
 'classifi': 3452,
 'pg': 14235,
 'roughli': 16147,
 'equival': 5977,
 'previou': 14813,
 'carri': 2926,
 'restrict': 15789,
 'guidanc': 7982,
 'except': 6173,
 'clone': 3527,
 'got': 7771,
 'prequel': 14766,
 'origin': 13517,
 'chronicl': 3349,
 'heroic': 8472,
 'anakin': 647,
 'skywalk': 17380,
 'evil': 6140,
 'darth': 4519,
 'vader': 20169,
 'helllik': 8419,
 'planet': 14395,
 'compos': 3765,
 'erupt': 6013,
 ...}

In [106]:
pd.DataFrame(conv_matrix.toarray(),columns=sorted(tf.vocabulary_))

,aa,aaa,aac,aadc,aaliyah,aaltra,aamir,aan,aara,aarhu,...,zoom,zooropa,zornotza,zorro,zubair,zuluaga,zurich,zuton,zvonareva,zvyagintsev
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
------------------------------------------------------------THE END-------------------------------------------------------------

### Here written some more pre-processing techniques

##### Spelling mistakes

In [108]:
x='feithfull i have ate biryani'

In [ ]:
!pip install textblob

In [109]:
from textblob import TextBlob

In [110]:
TextBlob(x).correct()

TextBlob("faithful i have ate bryan")

In [111]:
TextBlob(x).correct().string

'faithful i have ate bryan'

##### Emojis

In [112]:
x='i am ✍️'

In [113]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\kalali aravindgoud\anaconda3\lib\site-packages (2.2.0)

In [114]:
import emoji

In [115]:
emoji.demojize(x)

'i am :writing_hand:'

##### Change of language

In [ ]:
!pip install translate

In [116]:
from translate import Translator

In [117]:
tns=Translator(from_lang='hindi',to_lang='english')

In [118]:
tns.translate('अलविदा')

'Bye-bye.'

In [119]:
tns=Translator(from_lang='french',to_lang='english')

In [120]:
tns.translate('salut')

'hi'

In [ ]:
:)